{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <main class="container container--sm">
    <h1 class="title">
      {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
    </h1>

    {% if token_fail %}
      <p class="prose">
        The password reset token was invalid, possibly because it has already
        been used. Please request a
        <a href="{% url 'account_reset_password' %}">new password reset</a>.
      </p>
    {% else %}
      {% if form.non_field_errors %}
        <div class="form-errors">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <form action="{{ action_url }}" method="POST">
        {% csrf_token %}

        <div class="form-field">
          {{ form.password1.as_field_group }}
        </div>

        <div class="form-field">
          {{ form.password2.as_field_group }}
        </div>

        <button class="btn btn--lg btn--primary" type="submit">Sign Up</button>
      </form>
    {% endif %}
  </main>
{% endblock content %}
