* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1961ab;
  --color-primary-text: white;

  --container-width: 70rem;

  --font-family-body: 'Open Sans', sans-serif;
  --font-family-headings: 'Roboto', sans-serif;

  --spacing-xs: .25em;
  --spacing-sm: .5em;
  --spacing-md: 1em;
  --spacing-lg: 2em;
}

body {
  font-family: var(--font-family-body);
}

details > summary {
  cursor: pointer;
  margin-bottom: var(--spacing-md);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headings);
}

.btn {
  background: none;
  border: none;
  display: block;
  padding: var(--spacing-xs) var(--spacing-sm);
  text-decoration: none;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-primary-text);
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.markdown li {
  list-style-position: inside;
}

.row {
  align-items: center;
  display: flex;
  gap: var(--spacing-md);
}

.section {
  margin-bottom: var(--spacing-lg);
}

.subtitle {
  font-size: 1.75em;
  font-weight: normal;
  margin-bottom: var(--spacing-sm);
}

.title {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: var(--spacing-md);
}
