{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <main class="container">
    <h1 class="title">About</h1>
    <p class="prose">
      The Oral Prep Tool has been created to collect private pilot oral prep
      question as a tool for students (and instructors) to help drill private
      and commercial pilot candidates on oral exam questions. If the "private"
      option is selected then all commercial questions are excluded, and if
      "commercial" is selected you get a mix of both.
    </p>

    <p class="prose">
      This site is a rewrite of the excellent
      <a href="https://oral.planez.co" target="_blank">Oral Prep Tool</a> built
      by Dwight Frye.
    </p>

    <p class="prose">
      The original site was dedicated to Betsy McCracken in honor of her
      dedication as a flight instructor at the Wings of Carolina Flying Club.
      Her private pilot oral prep sessions were downright legendary. It was
      said, honestly, that if you could get past Betsy, there wasn't a DPE out
      there with the temerity to question your knowledge.
    </p>

    {% if MAINTAINER_NAME and MAINTAINER_EMAIL %}
      <p class="prose">
        If you see an error (typo, wrong or incomplete answer, etc.) please send
        feedback to
        <a href="mailto:{{ MAINTAINER_EMAIL }}" target="_blank">{{ MAINTAINER_NAME }}</a>.
        All constructive feedback is welcome.
      </p>
    {% endif %}

    <p class="prose">
      This tool is built with <em>Django</em>, a Python framework.
    </p>
  </main>
{% endblock content %}
