{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %}Home{% endblock %}

{% block content %}
  <main class="container">
    <h1 class="title">Oral Exam Prep</h1>

    <section class="section">
      <div class="row">
        <h2 class="subtitle">Question</h2>
        <a class="btn btn--primary" href='{% url "home" %}'>New</a>
      </div>
      <div class="markdown">{{ question.question | markdown | safe }}</div>

      {% if question.image %}
      <img width="{{ question.image.width }}" height="{{ question.image.height }}" src="{{ question.image.url }}">
      {% endif %}
    </section>

    <section class="section markdown">
      <h2 class="subtitle">Answer</h2>
      <details>
        <summary>Show Answer</summary>
        {{ question.answer | markdown | safe }}
      </details>
    </section>
  </main>
{% endblock %}
